{% extends "layout.html" %}

{% block page_title %}Forgot Password{% endblock %}


{% block content %}

    <div class="container">

    <h3 class="mt-3">Request Password Reset</h3>

        <form id="forgotPasswordForm" class="mt-3" method="POST">

            {{ password_reset_form.csrf_token }}

            <div class="input-group-prepend">
                <span class="input-group-text">Personal Email</span>
                {{ password_reset_form.personal_email(class_="form-control") }}
            </div>
            <div class="align-content-center">
                <button class="btn btn-primary mt-4">Request Password Reset Email</button>
            </div>
        </form>
    </div>

{% endblock %}
