{% extends "layout.html" %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">

            <h1 class="display-3">B6 Seniority Explorer</h1>

            <p>A pilot's one or more stop shop for visualizing seniority.</p>

        </div>
    </div><!-- /.jumbotron -->

    <div class="container">
        <div class="row">
            <p>
                This is a project that aims to revive what was lost when the company's implementation of a seniority
                estimator
                was lost several years ago. It can't, nor will it attempt, to provide advice about a pilot's career
                decisions.
                However, it can give some insight as to how we are doing as a pilot group, and what your place in it
                could
                look at any arbitrary point in time.
            </p>
            <p>
                The information provided here is calculated under the assumption that each pilot will remain active on
                the seniority list until reaching their retirement date (age 65 rule).
            </p>
        </div><!-- /.row -->
    </div>
{% endblock %}
