{% extends "layout.html" %}
{% block content %}
    
    <div class="jumbotron">
        <div class="container">

            <h1 class="display-3">B6 Seniority Explorer</h1>

            <p>A pilot's one or more stop shop for visualizing seniority.</p>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <p>
                This is a project aimed at reviving, and expanding upon, the old seniority calculator. 
                It can't, nor will it attempt to, provide advice about a pilot's career
                decisions.
                However, it can give some insight as to how we are doing as a pilot group, and how your place in it
                could
                look at any arbitrary point in time.
            </p>
            <p>
                The information provided here is calculated under the assumption that each pilot will remain active on
                the seniority list until reaching their retirement date (age 65 rule). Some of the functionality may
                be inherently limited if you are new to the company and have not been added to the most recent 
                seniority list publication. However, some "quick and dirty" calculations and estimations are available
                until a more accurate representation of your place in the list is available.
            </p>
        </div>

        <div class="row">
            {% if not current_user.is_active %}
                <a href="{{ url_for('public.request_company_verification') }}">
                    <button class="btn btn-primary">
                        Get Started Here
                    </button>
                </a>
            {% else %}
                <a href="{{ url_for('seniority.current_status') }}">
                    <button class="btn btn-primary">
                        Show Me the Numbers
                    </button>
                </a>
            {% endif %}
        </div>


    </div>
{% endblock %}
