{% extends "mail/email_template.html" %}

{% block content %}

    <h3>Reset Password Instructions</h3>
    <br>
    <p>Please follow the link below to reset your password. The token is valid for
        one hour. If it expires before you have a chance to change your password, you
        can simply request a new one with the same "forgot password" link.
    </p>
    <a href="{{ url }}">Click here to reset password</a>
    <small>
        This message was sent automatically. If you did not request a password reset,
        you may simply ignore this message. Thank you.
    </small>


{% endblock %}