{% extends "layout.html" %}

{% block cdn_resources %}{{ resources | safe }}{% endblock %}

{% block page_title %}
    {% if title %}
        {{ title }}
    {% else %}
        Seniority Plot
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        <p class="text-muted" style="margin-top: 10px">
            Mobile users may have a better experience if they turn off the<code>pan</code> tool on the right
            hand side of the plot. This will allow for easier touching within the plot.
        </p>
    </div>
    <div class="container justify-content-lg-center">
        <div class="bokeh-plot">
            {{ script | safe }}
            {{ div | safe }}
        </div>
        <hr>
        {% include "seniority/disclaimer.html" %}
        <hr>
    </div>
{% endblock %}

