{% extends "layout.html" %}

{% block cdn_resources %}{{ resources | safe }}{% endblock %}

{% block page_title %}
    {% if title %}
        {{ title }}
    {% else %}
        Seniority Plot
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container justify-content-lg-center">
        <div class="bokeh-plot">
            {{ script | safe }}
            {{ div | safe }}
        </div>
        <hr>
        {% include "seniority/disclaimer.html" %}
        <hr>
    </div>
{% endblock %}

